*{
    box-sizing:  border-box;
}

body {
padding:  0;
margin: 0;
font-size: 20 px;
line-height: 24 px;
color: #777777;
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
background:  url("../images/honey_im_subtle.png");
}

.portfolioImages
{
   height: 150px; 
   width: 200px;
}

.container{
    width:  100%;
    max-width: 960px;
    margin: 0 auto;
}
    .wrapper {
     max-width:  960px;
     width:  100%;
     margin:  0 auto;
    }

    h1, h2, p
    {
        margin-bottom:  20 px;
    }

#fixed {
    font-size:  24px;
    line-height:  32 px;
    color:  #ffffff;
}

#headline {
position:  fixed;
width:  100%;
margin:  0;
color:  #777777;
background:  #ffffff;
border-bottom:  #cccccc;

}

#paragraph {
   max-width: 960px; 
}